<!DOCTYPE html>
<html>

  <head>
    <title><%= title %></title>

	<link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<script src="/jquery/jquery.js"></script>
	<link rel="stylesheet" href="/bootstrapcss/bootstrap.min.css">
	<script src="/bootstrapjs/bootstrap.min.js"></script>
	    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>


 <script type="text/javascript">

$(document).ready(function(){
 $("#thing").html("This is Hello World by JQuery");
});

</script>

  <body>
    <h1><%= title %></h1>
    <p id='thing'>Welcome to <%= title %></p>
  </body>

</html>
